@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #333;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 800;
}

.image-journey {
  height: 600px;
}

/* Specific styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  padding: 50px 10px;
  background-color: #fff;
  height: 100vh;
}

.op-text {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

.heroTextContainer {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 3rem 2rem;
}

.heroImage {
  width: 80%;
}

.heroText {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: #3d52a0;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1rem;
}

.features {
  background-color: #adbbda;
  padding: 50px 20px;
}

.featureContainer {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.feature {
  text-align: center;
  margin-bottom: 20px;
}

.cl-text {
  font-size: 20px;
}

.featureIcon {
  font-size: 40px;
  color: #657dd4;
  margin-left: 1.5rem;
}

.featureTitle {
  margin-bottom: 10px;
}

.testimonials {
  background-color: #f5f6f7;
  padding: 50px 20px;
  text-align: center;
}

.testimonialsContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonialTitle {
  margin-bottom: 30px;
}

.testimonial {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 0 1 calc(33.333% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonialImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.testimonialAuthor {
  margin-top: 10px;
}

.footer {
  background-color: #3d52a0;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.loginSection {
  background-color: #f5f6f7;
  padding: 50px 20px;
  text-align: center;
}

.loginContainer {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginTitle {
  margin-bottom: 20px;
}

.loginInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.loginButton {
  background-color: #3d52a0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.custom-button-group {
  display: flex;
  gap: 2px;
  margin-bottom: 8rem;
}
.custom-button-group,
.info-button-group {
  display: flex;
  gap: 0.5rem;
}

/* Media queries for mobile responsiveness */
@media (max-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 50px 1px;
  }
  .heroTextContainer {
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .heroImage {
    flex: 1;
    max-width: 55%;
    height: auto;
    max-height: 500px;
    border-radius: 5px;
  }
  .testimonialsContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .heroTitle {
    font-size: 32px;
  }
  .heroText {
    width: 100%;
    font-size: 20px;
  }
  .featureContainer {
    flex-direction: column;
    align-items: center;
  }
  .testimonial {
    flex: 0 1 calc(100% - 40px);
  }
}

/* Media query for smaller screens to stack buttons vertically */
@media (max-width: 768px) {
  .info-button-group {
    flex-direction: column;
    align-items: stretch;
  }
  .custom-button-group {
    margin-bottom: 12rem;
  }
  .text-gray-800 {
    margin-left: 10px;
  }
}

@media (max-width: 560px) {
  .image-journey {
    height: 400px;
  }
}

@media (max-width: 420px) {
  .image-journey {
    height: 300px;
  }
}
